
@use './variaveis' as *;

.container {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem auto;
    text-align: center;
    color: $claro;
    box-shadow: 0 0 25px rgba(11, 145, 255, 0.842);
    overflow-y: auto;
  max-height: 80vh;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }



  &::-webkit-scrollbar-track {
    background: transparent;
  }
    h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .preview {
        width: 100%;
        aspect-ratio: 16 / 9;
        background: $fundo;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        video,
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    
}

/* responsividade */
@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
        max-width: 90%;
    }

    h2 {
        font-size: 1.4rem;
    }

    .preview {
        aspect-ratio: 4 / 3;
    }
}


@media (max-width: 480px) {
    .container {
        padding: 1rem;
        max-width: 95%;
    }

    h2 {
        font-size: 1.2rem;
    }

    .preview {
        aspect-ratio: 1 / 1; 
    }
}
